body{
    text-align: center;
}
 div{
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
}
 #container {
    width: 800px;
    height: 300px;
    display: flex;
    flex-direction: column;
} 
#Box1 {
    background-color: aqua;
}
#Box2 {
    background-color: pink;
}
#Box3 {
    background-color: yellow;
}
#Box4 {
    background-color: green;
}
#Box5 {
    background-color: rgb(90, 20, 195);
} 