.navbar {
    background-color: rgb(200, 182, 218);
    display: flex;
    justify-content: space-evenly;
}
a {
    text-decoration: none;
    color: black;
    background-color: aqua;
}
li {
    list-style-type: none;
    display: inline
    ;
}
